<% @bookmarks.reverse.each do |bookmark| %>
<div class="bookmark">
    <p><%= link_to bookmark.url, bookmark.url %> <div class="right-button"></div>
    <p><%= bookmark.description %></p>
    <% if current_user == bookmark.user %>
      <%= link_to 'Delete', bookmarks_url(id: bookmark.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= link_to "Edit", bookmarks_edit_path(id: bookmark.id) %>
    <% end %>
</div>
<% end %>
